:root {
  --imageOpacity: 1;
  --removeButtonOpacity: 0;
}

.buttonBox {
  display: grid;
  align-items: center;
  justify-items: center;
}

.buttonBox:hover {
  --imageOpacity: 0;
  --removeButtonOpacity: 1;
}

@property --imageOpacity {
  syntax: "<opacity>";
  initial-value: 0;
}

@property --buttonOpacity {
  syntax: "<opacity>";
  initial-value: 1;
}

.closeIcon {
  grid-area: 1/1/1/1;
  opacity: var(--removeButtonOpacity);
}

.tokenIcon {
  grid-area: 1/1/1/1;
  opacity: var(--imageOpacity);
  pointer-events: none;
}

.standardGrid {
  display: grid;
  grid-template-columns: 30px auto;
  align-items: center;
  column-gap: 8px;

  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.hiddenGrid {
  display: grid;
  grid-template-columns: 30px 20px auto;
  align-items: center;
  column-gap: 8px;

  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.outline-image {
  -webkit-filter: drop-shadow(1px 1px 0 #9966ff) drop-shadow(-1px 1px 0 #9966ff)
    drop-shadow(1px -1px 0 #9966ff) drop-shadow(-1px -1px 0 #9966ff);

  filter: drop-shadow(1px 1px 0 #9966ff) drop-shadow(-1px 1px 0 #9966ff)
    drop-shadow(1px -1px 0 #9966ff) drop-shadow(-1px -1px 0 #9966ff);
}

.dark\:outline-image:is(.dark *) {
  -webkit-filter: drop-shadow(1px 1px 0 #bb99ff) drop-shadow(-1px 1px 0 #bb99ff)
    drop-shadow(1px -1px 0 #bb99ff) drop-shadow(-1px -1px 0 #bb99ff);

  filter: drop-shadow(1px 1px 0 #bb99ff) drop-shadow(-1px 1px 0 #bb99ff)
    drop-shadow(1px -1px 0 #bb99ff) drop-shadow(-1px -1px 0 #bb99ff);
}
